# Core framework
streamlit==1.38.0

# Image processing
Pillow==10.3.0

# Google Cloud & Vertex AI SDKs
google-cloud-aiplatform>=1.64.0
google-auth>=2.33.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0

# For credentials handling
google-api-python-client>=2.133.0
google-cloud-core>=2.4.1
google-cloud-storage>=2.16.0

# Utility libraries
requests>=2.32.3
protobuf>=5.28.2
grpcio>=1.66.2
